[submodule "src/tikv"]
	path = src/tikv
	url = https://github.com/brson/tikv.git
[submodule "src/pd"]
	path = src/pd
	url = https://github.com/pingcap/pd.git
[submodule "src/tidb"]
	path = src/tidb
	url = https://github.com/pingcap/tidb.git
